/* 
Règles de cohérence

1. Positionnement et flux
    -position
    -z-index
    -display
    -float/clear
2. Modèle de boîte
    -width/height
    -margin
    -padding
    -border
    -box-sizing
3. Typographie et contenu visuel
    -font-
    -line-height
    -text-align
    -color
4. Cosmétique et décoration
    -background
    -opacity
    -cursor
    -border-radius
    -box-shadow
5. Divers et Animations
    -transition
    -transform
    -animation
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    --color-yellow-bg: #fed7aa;
    --color-yellow-container: #fdba74;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    background: var(--color-yellow-bg);
}

div.container {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    gap: 10px;

    width: 300px;
    height: 150px;
}

div.container div{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 10px;

    background-color: var(--color-yellow-container);
    border-radius: 10px;
}

#container-title {
    grid-row: 1;
    grid-column: span 3;

    font-size: 24px;
}
#container-minus {
    grid-row: 2;
    grid-column: 1;
}
#container-value {
    grid-row: 2;
    grid-column: 2;
}
#container-plus {
    grid-row: 2;
    grid-column: 3;
}

#container-minus, #container-value, #container-plus {
    font-size: 30px;
}

#container-minus, #container-plus {
    user-select: none;
    cursor: pointer;
}
